# 所有“占位符”属性均由profile指定
# core节点下属性映射到CoreProperties类

########################
##                    ##
##       Common       ##
##                    ##
########################

debug: 占位符

server:

  port: 占位符

  context-path: 占位符

spring:

  profiles.active: ${profile}

  datasource:
    source1:
      type: com.alibaba.druid.pool.DruidDataSource
      driver-class-name: com.mysql.jdbc.Driver
      url: 占位符
      username: 占位符
      password: 占位符
      druid:
        initialSize: 2
        minIdle: 2
        maxActive: 30
        validationQuery: select 'x'
        test-on-borrow: true

  redis:
    host: 占位符
    port: 占位符
    password: 占位符
    timeout: 2000 #2sec
    pool:
      max-active: 8
      max-wait: -1
      max-idle: 8
      min-idle: 0

  data:
    mongodb:
      uri: 占位符

  activemq:
    broker-url: 占位符
    spring.activemq.user: 占位符
    spring.activemq.password: 占位符

management:
  security:
    enabled: false
  port: ${server.port}
  context-path: /actuator
  endpoints:
    shutdown:
      enabled: true

mapper:
  mappers:
  - com.spldeolin.beginningmind.core.api.CommonMapper
  not-empty: false
  identity: MYSQL

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

logging:

  config: #未被覆盖时使用默认log4j2.yml

core:

  app-address: 占位符

  time:
    default-date-pattern: yyyy-MM-dd
    default-time-pattern: HH:mm:ss
    default-datetime-pattern: yyyy-MM-dd'T'HH:mm:ss
    serialize-java-util-date-to-timestamp: true

  file:
    mapping: 占位符
    location: 占位符

  email:
    server-host: smtp.163.com
    server-port: 25
    addresser-name: # TODO E-Mail
    addresser-email: # TODO E-Mail
    addresser-auth-code: # TODO E-Mail

---

########################
##                    ##
##     Devlopment     ##
##                    ##
########################

debug: true

server:

  port: 2333

  context-path: /

spring:

  profiles: dev

  datasource:
    source1:
      url: jdbc:mysql://localhost:3306/beginning_mind?characterEncoding=UTF-8&useUnicode=true&useSSL=false&allowMultiQueries=true
      username: root
      password: root

  redis:
    host: localhost
    port: 6379
    password: root

  data:
    mongodb:
      uri: mongodb://root:root@localhost:27017/beginning_mind

  activemq:
    broker-url: tcp://127.0.0.1:61616
    spring.activemq.user: admin
    spring.activemq.password: admin

logging:

  config: # 不指定，使用缺省的src/main/resources/log4j2.yml

core:

  address: localhost:2333

  file:
    mapping: /static/
    location: C:/beginning-mind-static/

---

########################
##                    ##
##        Test        ##
##                    ##
########################

debug: true

server:

  port: # TODO 测试端口

  context-path: /

spring:

  profiles: test

  datasource:
    source1:
      url: # TODO 测试数据库
      username: #TODO 测试数据库
      password: #TODO 测试数据库

  redis:
    host: #TODO 测试Redis
    port: #TODO 测试Redis
    password: #TODO 测试Redis

  data:
    mongodb:
      uri: #TODO 测试MongoDB

  activemq:
    broker-url: #TODO 测试activeMQ
    spring.activemq.user: #TODO 测试activeMQ
    spring.activemq.password: #TODO 测试activeMQ

logging:

  config: classpath:log4j2/log4j2-test.yml

core:

  address: # TODO 测试域名与端口

  file:
    mapping: /static/
    location: # TODO 测试环境静态文件目录

---

########################
##                    ##
##     Production     ##
##                    ##
########################

debug: false

server:

  port: # TODO 生产端口

  context-path: /

spring:

  profiles: prod

  datasource:
    source1:
      url: # TODO 生产数据库
      username: #TODO 生产数据库
      password: #TODO 生产数据库

  redis:
    host: #TODO 生产Redis
    port: #TODO 生产Redis
    password: #TODO 生产Redis

  data:
    mongodb:
      uri: #TODO 生产MongoDB

  activemq:
    broker-url: #TODO 生产activeMQ
    spring.activemq.user: #TODO 生产activeMQ
    spring.activemq.password: #TODO 生产activeMQ

logging:

  config: classpath:log4j2/log4j2-prod.yml

core:

  address: # TODO 生产域名与端口

  file:
    mapping: /static/
    location: # TODO 生产环境静态文件目录
