########################
##                    ##
##     Devlopment     ##
##                    ##
########################

debug: true

server:

  port: 8080

  context-path: /

spring:

  datasource:
    source1:
      url: jdbc:mysql://localhost:3306/beginning_mind?characterEncoding=UTF-8&useUnicode=true&useSSL=false&allowMultiQueries=true
      username: root
      password: root

  redis:
    host: localhost
    port: 6379
    password: root

  data:
    mongodb:
      uri: mongodb://root:root@localhost:27017/beginning_mind

  activemq:
    broker-url: tcp://127.0.0.1:61616
    spring.activemq.user: admin
    spring.activemq.password: admin

logging:

  config: classpath:log4j2/log4j2-dev.yml

core:

  address: localhost:8080

  file:
    mapping: /static/
    location: C:/beginning-mind-static/ # TODO 开发环境静态文件目录（必须）

  wechat:
    a: a

  qiniu:
    a: a

  yunpian:
    a: a