# 所有“占位符”属性均由profile指定
# core节点下属性映射到CoreProperties类

########################
##                    ##
##       Common       ##
##                    ##
########################

server:

  port: 占位符

  contextPath: 占位符

spring:

  profiles.active: ${profile}

  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: 占位符
    username: 占位符
    password: 占位符
    initialSize: 2
    minIdle: 2
    maxActive: 30
    validationQuery: select 'x'
    testOnBorrow: true

  redis:
    host: 占位符
    port: 占位符
    password: 占位符
    timeout: 2000 #2sec
    pool:
      maxActive: 8
      maxWait: -1
      maxIdle: 8
      minIdle: 0

  jmx:
    enable: false

  rabbitmq:
    host: 占位符
    port: 占位符
    username: 占位符
    password: 占位符
    publisherConfirms: true # 发送确认
    publisherReturns: true # 发送失败退回
    listener:
      simple:
        acknowledgeMode: manual # ACK

logging:

  config: #未被覆盖时使用默认log4j2.yml

management:
  server:
    port: ${server.port}
    security.enabled: false
  endpoints:
    web:
      base-path: /actuator
      exposure.include: "*"
  endpoint:
    health.show-details: always

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.spldeolin.beginningmind.core.model
  global-config:
    banner: false
    db-config:
      id-type: INPUT
      logic-delete-value: true
      logic-not-delete-value: false

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

core:

  address: 占位符

  redisNamespace: beginningMind

  time:
    defaultDatePattern: yyyy-MM-dd
    defaultTimePattern: HH:mm:ss
    defaultDatetimePattern: yyyy-MM-dd HH:mm:ss
    serializeJavaUtilDateToTimestamp: true

  taskExecutor:
    coreSize: 5
    maximumSize: 10
    queueCapacity: 20
    keepAliveSeconds: 60

  file:
    mapping: 占位符
    location: 占位符

  snowFlake:
    datacenterId: 占位符
    machineId: 占位符

  email:
    serverHost: smtp.163.com
    serverPort: 25
    addresserName: # TODO E-Mail
    addresserEmail: # TODO E-Mail
    addresserAuthCode: # TODO E-Mail

  enableSecurity: 占位符

  enableSwagger: 占位符

  enableActuatorFilter: 占位符

---

########################
##                    ##
##     Devlopment     ##
##                    ##
########################

server:

  port: 2333

  contextPath: /

spring:

  profiles: dev

  datasource:
    url: jdbc:mysql://192.168.2.2:3306/beginning_mind?characterEncoding=UTF-8&useUnicode=true&useSSL=false&allowMultiQueries=true&useTimezone=true&serverTimezone=GMT%2B8
    username: guest
    password: guest

  redis:
    host: 192.168.2.2
    port: 6379
    password: guest

  rabbitmq:
    host: 192.168.2.2
    port: 5672
    username: admin
    password: admin

logging:

  config: # 不指定，使用缺省的src/main/resources/log4j2.yml

core:

  address: http://localhost:2333

  file:
    mapping: static
    location: C:/beginning-mind-static

  snowFlake:
    datacenterId: 1
    machineId: 1

  enableSecurity: false

  enableSwagger: true

  enableActuatorFilter: true

---

########################
##                    ##
##        Test        ##
##                    ##
########################

server:

  port: # TODO 测试环境 端口号

  contextPath: /

spring:

  profiles: test

  datasource:
    url: jdbc:mysql://192.168.2.2:3306/beginning_mind?characterEncoding=UTF-8&useUnicode=true&useSSL=false&allowMultiQueries=true&useTimezone=true&serverTimezone=GMT%2B8
    username: admin
    password: admin

  redis:
    host: 192.168.2.2
    port: 6379
    password: root

  rabbitmq:
    host: 192.168.2.2
    port: 5672
    username: root
    password: root

logging:

  config: classpath:log4j2/log4j2-test.yml

core:

  address: http://localhost:2333

  file:
    mapping: static
    location: /opt/beginning-mind-static

  snowFlake:
    datacenterId: 1
    machineId: 1

  enableSecurity: false

  enableSwagger: true

  enableActuatorFilter: false

---

########################
##                    ##
##     Production     ##
##                    ##
########################

server:

  port: # TODO 生产环境 端口号

  contextPath: /

spring:

  profiles: prod

  datasource:
    url: # TODO 生产环境 MySQL连接
    username: # TODO 生产环境 MySQL连接
    password: # TODO 生产环境 MySQL连接

  redis:
    host: # TODO 生产环境 Redis连接
    port: # TODO 生产环境 Redis连接
    password: # TODO 生产环境 Redis连接

  rabbitmq:
    host: # TODO 生产环境 RabbitMQ连接
    port: # TODO 生产环境 RabbitMQ连接
    username: # TODO 生产环境 RabbitMQ连接
    password: # TODO 生产环境 RabbitMQ连接

logging:

  config: classpath:log4j2/log4j2-prod.yml

core:

  address: # TODO 生产环境 Web地址

  file:
    mapping: static
    location: # TODO 生产环境 静态目录

  snowFlake:
    datacenterId: # TODO 生产环境 雪花算法数据中心ID
    machineId: # TODO 生产环境 雪花算法机器ID

  enableSecurity: true

  enableSwagger: false

  enableActuatorFilter: true