# 所有“占位符”属性均由profile指定。
# core节点下属性映射到CoreProperties类

debug: 占位符

server:

  port: 占位符

  context-path: 占位符

spring:

  profiles.active: ${profile}

  datasource:
    source1:
      type: com.alibaba.druid.pool.DruidDataSource
      driver-class-name: com.mysql.jdbc.Driver
      url: 占位符
      username: 占位符
      password: 占位符
      druid:
        initialSize: 2
        minIdle: 2
        maxActive: 30

  redis:
    host: 占位符
    port: 占位符
    password: 占位符
    timeout: 2000 #2sec
    pool:
      max-active: 8
      max-wait: -1
      max-idle: 8
      min-idle: 0

  data:
    mongodb:
      uri: 占位符

  activemq:
    broker-url: 占位符
    spring.activemq.user: 占位符
    spring.activemq.password: 占位符

management:
  security:
    enabled: false
  port: ${server.port}
  context-path: /actuator
  endpoints:
    shutdown:
      enabled: true

mapper:
  mappers:
  - com.spldeolin.beginningmind.core.api.CommonMapper
  not-empty: false
  identity: MYSQL

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

logging:

  config: #未被覆盖时使用默认log4j2.yml

core:

  app-address: 占位符

  time:
    default-date-pattern: yyyy-MM-dd
    default-time-pattern: HH:mm:ss
    default-datetime-pattern: yyyy-MM-dd HH:mm:ss
    serialize-java-util-date-to-timestamp: true

  file:
    mapping: 占位符
    location: 占位符

  email:
    server-host: smtp.163.com
    server-port: 25
    addresser-name: # TODO E-Mail
    addresser-email: # TODO E-Mail
    addresser-auth-code: # TODO E-Mail

  wechat:
    a: a

  qiniu:
    a: a

  yunpian:
    a: a