<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spldeolin.beginningmind.app.mapper.StudentsMapper">
    <!-- [START] Any modifications may be overwritten by future code generations. -->

    <resultMap id="all" type="com.spldeolin.beginningmind.app.entity.StudentsEntity">
        <id column="studentNumber" property="studentNumber"/>
        <result column="LastName" property="lastName"/>
        <result column="FirstName" property="firstName"/>
        <result column="phone" property="phone"/>
        <result column="addressLine1" property="addressLine1"/>
        <result column="addressLine2" property="addressLine2"/>
        <result column="city" property="city"/>
        <result column="state" property="state"/>
        <result column="postalCode" property="postalCode"/>
        <result column="country" property="country"/>
        <result column="salesRepEmployeeNumber" property="salesRepEmployeeNumber"/>
        <result column="creditLimit" property="creditLimit"/>
    </resultMap>

    <sql id="all">
        `studentNumber`, `LastName`, `FirstName`, `phone`, `addressLine1`, `addressLine2`, `city`, `state`,
        `postalCode`,
        `country`, `salesRepEmployeeNumber`, `creditLimit`
    </sql>

    <insert id="insert" parameterType="com.spldeolin.beginningmind.app.entity.StudentsEntity">
        <!-- @formatter:off -->
        INSERT INTO `students`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNumber!=null"> `studentNumber`, </if>
            <if test="lastName!=null"> `LastName`, </if>
            <if test="firstName!=null"> `FirstName`, </if>
            <if test="phone!=null"> `phone`, </if>
            <if test="addressLine1!=null"> `addressLine1`, </if>
            <if test="addressLine2!=null"> `addressLine2`, </if>
            <if test="city!=null"> `city`, </if>
            <if test="state!=null"> `state`, </if>
            <if test="postalCode!=null"> `postalCode`, </if>
            <if test="country!=null"> `country`, </if>
            <if test="salesRepEmployeeNumber!=null"> `salesRepEmployeeNumber`, </if>
            <if test="creditLimit!=null"> `creditLimit`, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="studentNumber!=null"> #{studentNumber}, </if>
            <if test="lastName!=null"> #{lastName}, </if>
            <if test="firstName!=null"> #{firstName}, </if>
            <if test="phone!=null"> #{phone}, </if>
            <if test="addressLine1!=null"> #{addressLine1}, </if>
            <if test="addressLine2!=null"> #{addressLine2}, </if>
            <if test="city!=null"> #{city}, </if>
            <if test="state!=null"> #{state}, </if>
            <if test="postalCode!=null"> #{postalCode}, </if>
            <if test="country!=null"> #{country}, </if>
            <if test="salesRepEmployeeNumber!=null"> #{salesRepEmployeeNumber}, </if>
            <if test="creditLimit!=null"> #{creditLimit}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>

    <insert id="batchInsert">
        <!-- @formatter:off -->
        <foreach collection="entities" item="one" separator=";">
            INSERT INTO `students`
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="one.studentNumber!=null"> `studentNumber`, </if>
                <if test="one.lastName!=null"> `LastName`, </if>
                <if test="one.firstName!=null"> `FirstName`, </if>
                <if test="one.phone!=null"> `phone`, </if>
                <if test="one.addressLine1!=null"> `addressLine1`, </if>
                <if test="one.addressLine2!=null"> `addressLine2`, </if>
                <if test="one.city!=null"> `city`, </if>
                <if test="one.state!=null"> `state`, </if>
                <if test="one.postalCode!=null"> `postalCode`, </if>
                <if test="one.country!=null"> `country`, </if>
                <if test="one.salesRepEmployeeNumber!=null"> `salesRepEmployeeNumber`, </if>
                <if test="one.creditLimit!=null"> `creditLimit`, </if>
            </trim>
            <trim prefix="VALUE (" suffix=")" suffixOverrides=",">
                <if test="one.studentNumber!=null"> #{one.studentNumber}, </if>
                <if test="one.lastName!=null"> #{one.lastName}, </if>
                <if test="one.firstName!=null"> #{one.firstName}, </if>
                <if test="one.phone!=null"> #{one.phone}, </if>
                <if test="one.addressLine1!=null"> #{one.addressLine1}, </if>
                <if test="one.addressLine2!=null"> #{one.addressLine2}, </if>
                <if test="one.city!=null"> #{one.city}, </if>
                <if test="one.state!=null"> #{one.state}, </if>
                <if test="one.postalCode!=null"> #{one.postalCode}, </if>
                <if test="one.country!=null"> #{one.country}, </if>
                <if test="one.salesRepEmployeeNumber!=null"> #{one.salesRepEmployeeNumber}, </if>
                <if test="one.creditLimit!=null"> #{one.creditLimit}, </if>
            </trim>
        </foreach>;
        <!-- @formatter:on -->
    </insert>

    <insert id="batchInsertEvenNull">
        <!-- @formatter:off -->
        INSERT INTO `students`
            ( <include refid="all"/> )
        VALUES
            <foreach collection="entities" item="one" separator=",">(
                #{one.studentNumber}, #{one.lastName}, #{one.firstName}, #{one.phone}, #{one.addressLine1},
                #{one.addressLine2}, #{one.city}, #{one.state}, #{one.postalCode}, #{one.country},
                #{one.salesRepEmployeeNumber}, #{one.creditLimit}
            )</foreach>
        <!-- @formatter:on -->
    </insert>

    <update id="batchUpdate">
        <foreach collection="entities" item="one" separator=";">
            <!-- @formatter:off -->
            UPDATE `students`
            <set>
                <if test="one.lastName!=null"> `LastName` = #{one.lastName}, </if>
                <if test="one.firstName!=null"> `FirstName` = #{one.firstName}, </if>
                <if test="one.phone!=null"> `phone` = #{one.phone}, </if>
                <if test="one.addressLine1!=null"> `addressLine1` = #{one.addressLine1}, </if>
                <if test="one.addressLine2!=null"> `addressLine2` = #{one.addressLine2}, </if>
                <if test="one.city!=null"> `city` = #{one.city}, </if>
                <if test="one.state!=null"> `state` = #{one.state}, </if>
                <if test="one.postalCode!=null"> `postalCode` = #{one.postalCode}, </if>
                <if test="one.country!=null"> `country` = #{one.country}, </if>
                <if test="one.salesRepEmployeeNumber!=null"> `salesRepEmployeeNumber` = #{one.salesRepEmployeeNumber}, </if>
                <if test="one.creditLimit!=null"> `creditLimit` = #{one.creditLimit}, </if>
            </set>
            WHERE TRUE
              AND `studentNumber` = #{one.studentNumber}
            <!-- @formatter:on -->
        </foreach>
    </update>

    <update id="batchUpdateEvenNull">
        <foreach collection="entities" item="one" separator=";">
            <!-- @formatter:off -->
            UPDATE `students`
            SET
                `LastName` = #{one.lastName},
                `FirstName` = #{one.firstName},
                `phone` = #{one.phone},
                `addressLine1` = #{one.addressLine1},
                `addressLine2` = #{one.addressLine2},
                `city` = #{one.city},
                `state` = #{one.state},
                `postalCode` = #{one.postalCode},
                `country` = #{one.country},
                `salesRepEmployeeNumber` = #{one.salesRepEmployeeNumber},
                `creditLimit` = #{one.creditLimit}
            WHERE TRUE
              AND `studentNumber` = #{one.studentNumber}
            <!-- @formatter:on -->
        </foreach>
    </update>

    <select id="queryById" parameterType="Integer" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `students`
        WHERE TRUE
          AND `studentNumber` = #{studentNumber}
        <!-- @formatter:on -->
    </select>

    <update id="updateById" parameterType="com.spldeolin.beginningmind.app.entity.StudentsEntity">
        <!-- @formatter:off -->
        UPDATE `students`
        <set>
            <if test="lastName!=null"> `LastName` = #{lastName}, </if>
            <if test="firstName!=null"> `FirstName` = #{firstName}, </if>
            <if test="phone!=null"> `phone` = #{phone}, </if>
            <if test="addressLine1!=null"> `addressLine1` = #{addressLine1}, </if>
            <if test="addressLine2!=null"> `addressLine2` = #{addressLine2}, </if>
            <if test="city!=null"> `city` = #{city}, </if>
            <if test="state!=null"> `state` = #{state}, </if>
            <if test="postalCode!=null"> `postalCode` = #{postalCode}, </if>
            <if test="country!=null"> `country` = #{country}, </if>
            <if test="salesRepEmployeeNumber!=null"> `salesRepEmployeeNumber` = #{salesRepEmployeeNumber}, </if>
            <if test="creditLimit!=null"> `creditLimit` = #{creditLimit}, </if>
        </set>
        WHERE TRUE
          AND `studentNumber` = #{studentNumber}
        <!-- @formatter:on -->
    </update>

    <update id="updateByIdEvenNull" parameterType="com.spldeolin.beginningmind.app.entity.StudentsEntity">
        <!-- @formatter:off -->
        UPDATE `students`
        SET
            `LastName` = #{lastName},
            `FirstName` = #{firstName},
            `phone` = #{phone},
            `addressLine1` = #{addressLine1},
            `addressLine2` = #{addressLine2},
            `city` = #{city},
            `state` = #{state},
            `postalCode` = #{postalCode},
            `country` = #{country},
            `salesRepEmployeeNumber` = #{salesRepEmployeeNumber},
            `creditLimit` = #{creditLimit}
        WHERE TRUE
          AND `studentNumber` = #{studentNumber}
        <!-- @formatter:on -->
    </update>

    <select id="queryByIds" parameterType="Integer" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `students`
        WHERE TRUE
          AND `studentNumber` IN (<foreach collection="studentNumbers" item="one" separator=",">#{one}</foreach>)
        <!-- @formatter:on -->
    </select>

    <select id="queryByIdsEachId" parameterType="Integer" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `students`
        WHERE TRUE
          AND `studentNumber` IN (<foreach collection="studentNumbers" item="one" separator=",">#{one}</foreach>)
        <!-- @formatter:on -->
    </select>

    <select id="queryByEntity" parameterType="com.spldeolin.beginningmind.app.entity.StudentsEntity"
        resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `students`
        WHERE TRUE
          <if test="studentNumber!=null"> AND `studentNumber` = #{studentNumber} </if>
          <if test="lastName!=null"> AND `LastName` = #{lastName} </if>
          <if test="firstName!=null"> AND `FirstName` = #{firstName} </if>
          <if test="phone!=null"> AND `phone` = #{phone} </if>
          <if test="addressLine1!=null"> AND `addressLine1` = #{addressLine1} </if>
          <if test="addressLine2!=null"> AND `addressLine2` = #{addressLine2} </if>
          <if test="city!=null"> AND `city` = #{city} </if>
          <if test="state!=null"> AND `state` = #{state} </if>
          <if test="postalCode!=null"> AND `postalCode` = #{postalCode} </if>
          <if test="country!=null"> AND `country` = #{country} </if>
          <if test="salesRepEmployeeNumber!=null"> AND `salesRepEmployeeNumber` = #{salesRepEmployeeNumber} </if>
          <if test="creditLimit!=null"> AND `creditLimit` = #{creditLimit} </if>
        <!-- @formatter:on -->
    </select>

    <select id="listAll" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `students`
        WHERE TRUE
        <!-- @formatter:on -->
    </select>

    <insert id="insertOrUpdate" parameterType="com.spldeolin.beginningmind.app.entity.StudentsEntity">
        <!-- @formatter:off -->
        INSERT INTO `students`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNumber!=null"> `studentNumber`, </if>
            <if test="lastName!=null"> `LastName`, </if>
            <if test="firstName!=null"> `FirstName`, </if>
            <if test="phone!=null"> `phone`, </if>
            <if test="addressLine1!=null"> `addressLine1`, </if>
            <if test="addressLine2!=null"> `addressLine2`, </if>
            <if test="city!=null"> `city`, </if>
            <if test="state!=null"> `state`, </if>
            <if test="postalCode!=null"> `postalCode`, </if>
            <if test="country!=null"> `country`, </if>
            <if test="salesRepEmployeeNumber!=null"> `salesRepEmployeeNumber`, </if>
            <if test="creditLimit!=null"> `creditLimit`, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="studentNumber!=null"> #{studentNumber}, </if>
            <if test="lastName!=null"> #{lastName}, </if>
            <if test="firstName!=null"> #{firstName}, </if>
            <if test="phone!=null"> #{phone}, </if>
            <if test="addressLine1!=null"> #{addressLine1}, </if>
            <if test="addressLine2!=null"> #{addressLine2}, </if>
            <if test="city!=null"> #{city}, </if>
            <if test="state!=null"> #{state}, </if>
            <if test="postalCode!=null"> #{postalCode}, </if>
            <if test="country!=null"> #{country}, </if>
            <if test="salesRepEmployeeNumber!=null"> #{salesRepEmployeeNumber}, </if>
            <if test="creditLimit!=null"> #{creditLimit}, </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="lastName!=null"> `LastName` = #{lastName}, </if>
            <if test="firstName!=null"> `FirstName` = #{firstName}, </if>
            <if test="phone!=null"> `phone` = #{phone}, </if>
            <if test="addressLine1!=null"> `addressLine1` = #{addressLine1}, </if>
            <if test="addressLine2!=null"> `addressLine2` = #{addressLine2}, </if>
            <if test="city!=null"> `city` = #{city}, </if>
            <if test="state!=null"> `state` = #{state}, </if>
            <if test="postalCode!=null"> `postalCode` = #{postalCode}, </if>
            <if test="country!=null"> `country` = #{country}, </if>
            <if test="salesRepEmployeeNumber!=null"> `salesRepEmployeeNumber` = #{salesRepEmployeeNumber}, </if>
            <if test="creditLimit!=null"> `creditLimit` = #{creditLimit}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>

    <!-- [END] Any modifications may be overwritten by future code generations. -->
</mapper>