<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spldeolin.beginningmind.core.mapper.UserDao">

    <select id="searchAsPageByMobile" resultType="com.spldeolin.beginningmind.core.entity.UserEntity">
        select * from user where is_deleted = false and mobile = #{mobile}
    </select>

</mapper>