# 所有“占位符”属性均由profile指定
# core节点下属性映射到CoreProperties类

########################
##                    ##
##       Common       ##
##                    ##
########################

server:
  port: 占位符
  contextPath: 占位符

spring:

  profiles.active: ${profile}

  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: 占位符
    username: 占位符
    password: 占位符
    initialSize: 2
    minIdle: 2
    maxActive: 30
    validationQuery: select 'x'
    testOnBorrow: true

  redis:
    host: 占位符
    port: 占位符
    password: 占位符
    timeout: 2000 #2sec
    pool:
      maxActive: 8
      maxWait: -1
      maxIdle: 8
      minIdle: 0

  jmx:
    enable: false

  rabbitmq:
    host: 占位符
    port: 占位符
    username: 占位符
    password: 占位符
    publisherConfirms: true # 发送确认
    publisherReturns: true # 发送失败退回
    listener:
      simple:
        acknowledgeMode: manual # ACK

  data.mongodb:
    uri: 占位符

logging:
  config: # 未被覆盖时使用默认log4j2.yml

management:
  server:
    port: ${server.port}
    security.enabled: false
  endpoints:
    web:
      base-path: /actuator
      exposure.include: "*"
  endpoint:
    health.show-details: always

mybatis-plus:
  mapper-locations: classpath:mapper/*.xml
  global-config:
    banner: false
    db-config:
      id-type: INPUT
      logic-delete-value: true
      logic-not-delete-value: false

swagger:
  base-package: com.spldeolin.beginningmind
  base-path: /**
  exclude-path: /error, /actuator/**

core:

  taskExecutor:
    coreSize: 5
    maximumSize: 10
    queueCapacity: 20
    keepAliveSeconds: 60

  snowFlake:
    datacenterId: 占位符
    machineId: 占位符

  email:
    serverHost: smtp.163.com
    serverPort: 25
    addresserName: # TODO E-Mail
    addresserEmail: # TODO E-Mail
    addresserAuthCode: # TODO E-Mail

  oss:
    buckeName: beginning-mind
    endPoint: oss-cn-hangzhou.aliyuncs.com
    accessKeyId: # TODO 阿里云OSS
    accessKeySecret: # TODO 阿里云OSS
    fileHost: image

  enableSecurity: 占位符

---

########################
##                    ##
##     Devlopment     ##
##                    ##
########################

server:
  port: 2333
  contextPath: /

spring:

  profiles: dev

  datasource:
    url: jdbc:mysql://192.168.2.2:3306/beginning_mind?characterEncoding=UTF-8&useUnicode=true&allowMultiQueries=true
    username: guest
    password: guest_gUe5t

  redis:
    host: 192.168.2.2
    port: 6379
    password: guest

  data.mongodb:
    uri: mongodb://guest:guest@192.168.2.2:27017/beginning_mind_dev

  rabbitmq:
    host: 192.168.2.2
    port: 5672
    username: admin
    password: admin

core:
  snowFlake:
    datacenterId: 1
    machineId: 1
  enableSecurity: false

---

########################
##                    ##
##        Test        ##
##                    ##
########################

server:
  port: 8080
  contextPath: /

spring:

  profiles: test

  datasource:
    url: jdbc:mysql://192.168.2.2:3306/beginning_mind?characterEncoding=UTF-8&useUnicode=true&allowMultiQueries=true
    username: guest
    password: guest

  redis:
    host: 192.168.2.2
    port: 6379
    password: guest

  data.mongodb:
    uri: mongodb://guest:guest@192.168.2.2:27017/beginning_mind_test

  rabbitmq:
    host: 192.168.2.2
    port: 5672
    username: admin
    password: admin

logging:
  config: classpath:log4j2/log4j2-test.yml

core:
  snowFlake:
    datacenterId: 1
    machineId: 1
  enableSecurity: false

---

########################
##                    ##
##     Production     ##
##                    ##
########################

server:
  port: # TODO 生产环境 端口号
  contextPath: /

spring:

  profiles: prod

  datasource:
    url: # TODO 生产环境 MySQL连接
    username: # TODO 生产环境 MySQL连接
    password: # TODO 生产环境 MySQL连接

  redis:
    host: # TODO 生产环境 Redis连接
    port: # TODO 生产环境 Redis连接
    password: # TODO 生产环境 Redis连接

  data.mongodb:
    uri: # TODO 生产环境 Mongo

  rabbitmq:
    host: # TODO 生产环境 RabbitMQ连接
    port: # TODO 生产环境 RabbitMQ连接
    username: # TODO 生产环境 RabbitMQ连接
    password: # TODO 生产环境 RabbitMQ连接

logging:
  config: classpath:log4j2/log4j2-prod.yml

swagger:
  exclude-path: /** # 不显示一切API

core:
  snowFlake:
    datacenterId: # TODO 生产环境 雪花算法数据中心ID
    machineId: # TODO 生产环境 雪花算法机器ID
  enableSecurity: true