<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spldeolin.beginningmind.service.mapper.OrdersMapper">
    <!-- [START] Any modifications may be overwritten by future code generations. -->

    <resultMap id="all" type="com.spldeolin.beginningmind.service.entity.OrdersEntity">
        <id column="orderNumber" property="orderNumber"/>
        <result column="orderDate" property="orderDate"/>
        <result column="requiredDate" property="requiredDate"/>
        <result column="shippedDate" property="shippedDate"/>
        <result column="status" property="status"/>
        <result column="comments" property="comments"/>
        <result column="studentNumber" property="studentNumber"/>
    </resultMap>

    <sql id="all">
        `orderNumber`, `orderDate`, `requiredDate`, `shippedDate`, `status`, `comments`, `studentNumber`
    </sql>

    <insert id="insert" parameterType="com.spldeolin.beginningmind.service.entity.OrdersEntity">
        <!-- @formatter:off -->
        INSERT INTO `orders`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNumber!=null"> `orderNumber`, </if>
            <if test="orderDate!=null"> `orderDate`, </if>
            <if test="requiredDate!=null"> `requiredDate`, </if>
            <if test="shippedDate!=null"> `shippedDate`, </if>
            <if test="status!=null"> `status`, </if>
            <if test="comments!=null"> `comments`, </if>
            <if test="studentNumber!=null"> `studentNumber`, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="orderNumber!=null"> #{orderNumber}, </if>
            <if test="orderDate!=null"> #{orderDate}, </if>
            <if test="requiredDate!=null"> #{requiredDate}, </if>
            <if test="shippedDate!=null"> #{shippedDate}, </if>
            <if test="status!=null"> #{status}, </if>
            <if test="comments!=null"> #{comments}, </if>
            <if test="studentNumber!=null"> #{studentNumber}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>

    <insert id="batchInsert">
        <!-- @formatter:off -->
        <foreach collection="entities" item="one" separator=";">
            INSERT INTO `orders`
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="one.orderNumber!=null"> `orderNumber`, </if>
                <if test="one.orderDate!=null"> `orderDate`, </if>
                <if test="one.requiredDate!=null"> `requiredDate`, </if>
                <if test="one.shippedDate!=null"> `shippedDate`, </if>
                <if test="one.status!=null"> `status`, </if>
                <if test="one.comments!=null"> `comments`, </if>
                <if test="one.studentNumber!=null"> `studentNumber`, </if>
            </trim>
            <trim prefix="VALUE (" suffix=")" suffixOverrides=",">
                <if test="one.orderNumber!=null"> #{one.orderNumber}, </if>
                <if test="one.orderDate!=null"> #{one.orderDate}, </if>
                <if test="one.requiredDate!=null"> #{one.requiredDate}, </if>
                <if test="one.shippedDate!=null"> #{one.shippedDate}, </if>
                <if test="one.status!=null"> #{one.status}, </if>
                <if test="one.comments!=null"> #{one.comments}, </if>
                <if test="one.studentNumber!=null"> #{one.studentNumber}, </if>
            </trim>
        </foreach>;
        <!-- @formatter:on -->
    </insert>

    <insert id="batchInsertEvenNull">
        <!-- @formatter:off -->
        INSERT INTO `orders`
            ( <include refid="all"/> )
        VALUES
            <foreach collection="entities" item="one" separator=",">(
                #{one.orderNumber}, #{one.orderDate}, #{one.requiredDate}, #{one.shippedDate}, #{one.status},
                #{one.comments}, #{one.studentNumber}
            )</foreach>
        <!-- @formatter:on -->
    </insert>

    <update id="batchUpdate">
        <foreach collection="entities" item="one" separator=";">
            <!-- @formatter:off -->
            UPDATE `orders`
            <set>
                <if test="one.orderDate!=null"> `orderDate` = #{one.orderDate}, </if>
                <if test="one.requiredDate!=null"> `requiredDate` = #{one.requiredDate}, </if>
                <if test="one.shippedDate!=null"> `shippedDate` = #{one.shippedDate}, </if>
                <if test="one.status!=null"> `status` = #{one.status}, </if>
                <if test="one.comments!=null"> `comments` = #{one.comments}, </if>
                <if test="one.studentNumber!=null"> `studentNumber` = #{one.studentNumber}, </if>
            </set>
            WHERE TRUE
              AND `orderNumber` = #{one.orderNumber}
            <!-- @formatter:on -->
        </foreach>
    </update>

    <update id="batchUpdateEvenNull">
        <foreach collection="entities" item="one" separator=";">
            <!-- @formatter:off -->
            UPDATE `orders`
            SET
                `orderDate` = #{one.orderDate},
                `requiredDate` = #{one.requiredDate},
                `shippedDate` = #{one.shippedDate},
                `status` = #{one.status},
                `comments` = #{one.comments},
                `studentNumber` = #{one.studentNumber}
            WHERE TRUE
              AND `orderNumber` = #{one.orderNumber}
            <!-- @formatter:on -->
        </foreach>
    </update>

    <select id="queryById" parameterType="Integer" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `orders`
        WHERE TRUE
          AND `orderNumber` = #{orderNumber}
        <!-- @formatter:on -->
    </select>

    <update id="updateById" parameterType="com.spldeolin.beginningmind.service.entity.OrdersEntity">
        <!-- @formatter:off -->
        UPDATE `orders`
        <set>
            <if test="orderDate!=null"> `orderDate` = #{orderDate}, </if>
            <if test="requiredDate!=null"> `requiredDate` = #{requiredDate}, </if>
            <if test="shippedDate!=null"> `shippedDate` = #{shippedDate}, </if>
            <if test="status!=null"> `status` = #{status}, </if>
            <if test="comments!=null"> `comments` = #{comments}, </if>
            <if test="studentNumber!=null"> `studentNumber` = #{studentNumber}, </if>
        </set>
        WHERE TRUE
          AND `orderNumber` = #{orderNumber}
        <!-- @formatter:on -->
    </update>

    <update id="updateByIdEvenNull" parameterType="com.spldeolin.beginningmind.service.entity.OrdersEntity">
        <!-- @formatter:off -->
        UPDATE `orders`
        SET
            `orderDate` = #{orderDate},
            `requiredDate` = #{requiredDate},
            `shippedDate` = #{shippedDate},
            `status` = #{status},
            `comments` = #{comments},
            `studentNumber` = #{studentNumber}
        WHERE TRUE
          AND `orderNumber` = #{orderNumber}
        <!-- @formatter:on -->
    </update>

    <select id="queryByIds" parameterType="Integer" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `orders`
        WHERE TRUE
          AND `orderNumber` IN (<foreach collection="orderNumbers" item="one" separator=",">#{one}</foreach>)
        <!-- @formatter:on -->
    </select>

    <select id="queryByIdsEachId" parameterType="Integer" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `orders`
        WHERE TRUE
          AND `orderNumber` IN (<foreach collection="orderNumbers" item="one" separator=",">#{one}</foreach>)
        <!-- @formatter:on -->
    </select>

    <select id="queryByEntity" parameterType="com.spldeolin.beginningmind.service.entity.OrdersEntity" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `orders`
        WHERE TRUE
          <if test="orderNumber!=null"> AND `orderNumber` = #{orderNumber} </if>
          <if test="orderDate!=null"> AND `orderDate` = #{orderDate} </if>
          <if test="requiredDate!=null"> AND `requiredDate` = #{requiredDate} </if>
          <if test="shippedDate!=null"> AND `shippedDate` = #{shippedDate} </if>
          <if test="status!=null"> AND `status` = #{status} </if>
          <if test="comments!=null"> AND `comments` = #{comments} </if>
          <if test="studentNumber!=null"> AND `studentNumber` = #{studentNumber} </if>
        <!-- @formatter:on -->
    </select>

    <select id="listAll" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `orders`
        WHERE TRUE
        <!-- @formatter:on -->
    </select>

    <insert id="insertOrUpdate" parameterType="com.spldeolin.beginningmind.service.entity.OrdersEntity">
        <!-- @formatter:off -->
        INSERT INTO `orders`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderNumber!=null"> `orderNumber`, </if>
            <if test="orderDate!=null"> `orderDate`, </if>
            <if test="requiredDate!=null"> `requiredDate`, </if>
            <if test="shippedDate!=null"> `shippedDate`, </if>
            <if test="status!=null"> `status`, </if>
            <if test="comments!=null"> `comments`, </if>
            <if test="studentNumber!=null"> `studentNumber`, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="orderNumber!=null"> #{orderNumber}, </if>
            <if test="orderDate!=null"> #{orderDate}, </if>
            <if test="requiredDate!=null"> #{requiredDate}, </if>
            <if test="shippedDate!=null"> #{shippedDate}, </if>
            <if test="status!=null"> #{status}, </if>
            <if test="comments!=null"> #{comments}, </if>
            <if test="studentNumber!=null"> #{studentNumber}, </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="orderDate!=null"> `orderDate` = #{orderDate}, </if>
            <if test="requiredDate!=null"> `requiredDate` = #{requiredDate}, </if>
            <if test="shippedDate!=null"> `shippedDate` = #{shippedDate}, </if>
            <if test="status!=null"> `status` = #{status}, </if>
            <if test="comments!=null"> `comments` = #{comments}, </if>
            <if test="studentNumber!=null"> `studentNumber` = #{studentNumber}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>

    <!-- [END] Any modifications may be overwritten by future code generations. -->

    <!-- Allison 1875 Lot No: QT1001S-E73C252D -->
    <select id='queryOrders' parameterType='com.spldeolin.beginningmind.service.javabean.cond.QueryOrdersCond'
        resultMap='all'>
        <!-- @formatter:off -->
        SELECT
            <include refid='all' />
        FROM
            `orders`
        WHERE TRUE
        <if test="studentNumber != null">
            AND `studentNumber` = #{studentNumber}
        </if>
        <if test="studentNumberEx != null">
            <if test="studentNumberEx.size() > 0">
                AND `studentNumber` IN (<foreach collection='studentNumberEx' item='one' separator=','>#{one}</foreach>)
            </if>
            <if test="studentNumberEx.size() == 0">
                AND FALSE
            </if>
        </if>
        <if test="orderDate != null">
            AND `orderDate` >= #{orderDate}
        </if>
        <if test="orderDateEx != null">
            AND `orderDate` &lt;= #{orderDateEx}
        </if>
        <!-- @formatter:on -->
    </select>
</mapper>