<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spldeolin.beginningmind.service.mapper.PaymentsMapper">
    <!-- [START] Any modifications may be overwritten by future code generations. -->

    <resultMap id="all" type="com.spldeolin.beginningmind.service.entity.PaymentsEntity">
        <id column="studentNumber" property="studentNumber"/>
        <id column="checkNumber" property="checkNumber"/>
        <result column="paymentDate" property="paymentDate"/>
        <result column="amount" property="amount"/>
    </resultMap>

    <sql id="all">
        `studentNumber`, `checkNumber`, `paymentDate`, `amount`
    </sql>

    <insert id="insert" parameterType="com.spldeolin.beginningmind.service.entity.PaymentsEntity">
        <!-- @formatter:off -->
        INSERT INTO `payments`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNumber!=null"> `studentNumber`, </if>
            <if test="checkNumber!=null"> `checkNumber`, </if>
            <if test="paymentDate!=null"> `paymentDate`, </if>
            <if test="amount!=null"> `amount`, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="studentNumber!=null"> #{studentNumber}, </if>
            <if test="checkNumber!=null"> #{checkNumber}, </if>
            <if test="paymentDate!=null"> #{paymentDate}, </if>
            <if test="amount!=null"> #{amount}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>

    <insert id="batchInsert">
        <!-- @formatter:off -->
        <foreach collection="entities" item="one" separator=";">
            INSERT INTO `payments`
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="one.studentNumber!=null"> `studentNumber`, </if>
                <if test="one.checkNumber!=null"> `checkNumber`, </if>
                <if test="one.paymentDate!=null"> `paymentDate`, </if>
                <if test="one.amount!=null"> `amount`, </if>
            </trim>
            <trim prefix="VALUE (" suffix=")" suffixOverrides=",">
                <if test="one.studentNumber!=null"> #{one.studentNumber}, </if>
                <if test="one.checkNumber!=null"> #{one.checkNumber}, </if>
                <if test="one.paymentDate!=null"> #{one.paymentDate}, </if>
                <if test="one.amount!=null"> #{one.amount}, </if>
            </trim>
        </foreach>;
        <!-- @formatter:on -->
    </insert>

    <insert id="batchInsertEvenNull">
        <!-- @formatter:off -->
        INSERT INTO `payments`
            ( <include refid="all"/> )
        VALUES
            <foreach collection="entities" item="one" separator=",">(
                #{one.studentNumber}, #{one.checkNumber}, #{one.paymentDate}, #{one.amount}
            )</foreach>
        <!-- @formatter:on -->
    </insert>

    <update id="batchUpdate">
        <foreach collection="entities" item="one" separator=";">
            <!-- @formatter:off -->
            UPDATE `payments`
            <set>
                <if test="one.paymentDate!=null"> `paymentDate` = #{one.paymentDate}, </if>
                <if test="one.amount!=null"> `amount` = #{one.amount}, </if>
            </set>
            WHERE TRUE
              AND `studentNumber` = #{one.studentNumber}
              AND `checkNumber` = #{one.checkNumber}
            <!-- @formatter:on -->
        </foreach>
    </update>

    <update id="batchUpdateEvenNull">
        <foreach collection="entities" item="one" separator=";">
            <!-- @formatter:off -->
            UPDATE `payments`
            SET
                `paymentDate` = #{one.paymentDate},
                `amount` = #{one.amount}
            WHERE TRUE
              AND `studentNumber` = #{one.studentNumber}
              AND `checkNumber` = #{one.checkNumber}
            <!-- @formatter:on -->
        </foreach>
    </update>

    <select id="queryById" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `payments`
        WHERE TRUE
          AND `studentNumber` = #{studentNumber}
          AND `checkNumber` = #{checkNumber}
        <!-- @formatter:on -->
    </select>

    <update id="updateById" parameterType="com.spldeolin.beginningmind.service.entity.PaymentsEntity">
        <!-- @formatter:off -->
        UPDATE `payments`
        <set>
            <if test="paymentDate!=null"> `paymentDate` = #{paymentDate}, </if>
            <if test="amount!=null"> `amount` = #{amount}, </if>
        </set>
        WHERE TRUE
          AND `studentNumber` = #{studentNumber}
          AND `checkNumber` = #{checkNumber}
        <!-- @formatter:on -->
    </update>

    <update id="updateByIdEvenNull" parameterType="com.spldeolin.beginningmind.service.entity.PaymentsEntity">
        <!-- @formatter:off -->
        UPDATE `payments`
        SET
            `paymentDate` = #{paymentDate},
            `amount` = #{amount}
        WHERE TRUE
          AND `studentNumber` = #{studentNumber}
          AND `checkNumber` = #{checkNumber}
        <!-- @formatter:on -->
    </update>

    <select id="queryByEntity" parameterType="com.spldeolin.beginningmind.service.entity.PaymentsEntity"
        resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `payments`
        WHERE TRUE
          <if test="studentNumber!=null"> AND `studentNumber` = #{studentNumber} </if>
          <if test="checkNumber!=null"> AND `checkNumber` = #{checkNumber} </if>
          <if test="paymentDate!=null"> AND `paymentDate` = #{paymentDate} </if>
          <if test="amount!=null"> AND `amount` = #{amount} </if>
        <!-- @formatter:on -->
    </select>

    <select id="listAll" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM `payments`
        WHERE TRUE
        <!-- @formatter:on -->
    </select>

    <insert id="insertOrUpdate" parameterType="com.spldeolin.beginningmind.service.entity.PaymentsEntity">
        <!-- @formatter:off -->
        INSERT INTO `payments`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentNumber!=null"> `studentNumber`, </if>
            <if test="checkNumber!=null"> `checkNumber`, </if>
            <if test="paymentDate!=null"> `paymentDate`, </if>
            <if test="amount!=null"> `amount`, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="studentNumber!=null"> #{studentNumber}, </if>
            <if test="checkNumber!=null"> #{checkNumber}, </if>
            <if test="paymentDate!=null"> #{paymentDate}, </if>
            <if test="amount!=null"> #{amount}, </if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="paymentDate!=null"> `paymentDate` = #{paymentDate}, </if>
            <if test="amount!=null"> `amount` = #{amount}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>

    <!-- [END] Any modifications may be overwritten by future code generations. -->
</mapper>