<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spldeolin.beginningmind.mapper.Allison1875DemoMapper">
    <!-- <SGODWT> 从本行到锚点<MTg1WB>之间的内容，由Allison 1875生成，请勿人为修改 -->
    <resultMap id="all" type="com.spldeolin.beginningmind.entity.Allison1875DemoEntity">
        <id column="id" property="id"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="inserted_at" property="insertedAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="varchar1" property="varchar1"/>
        <result column="varchar2" property="varchar2"/>
        <result column="char1" property="char1"/>
        <result column="char2" property="char2"/>
        <result column="text1" property="text1"/>
        <result column="text2" property="text2"/>
        <result column="tinyint1" property="tinyint1"/>
        <result column="longtext2" property="longtext2"/>
        <result column="longtext1" property="longtext1"/>
        <result column="tinyint2" property="tinyint2"/>
        <result column="int1" property="int1"/>
        <result column="int2" property="int2"/>
        <result column="boolean1" property="boolean1"/>
        <result column="boolean2" property="boolean2"/>
        <result column="datetime1" property="datetime1"/>
        <result column="datetime2" property="datetime2"/>
        <result column="decimal1" property="decimal1"/>
        <result column="decimal2" property="decimal2"/>
    </resultMap>
    <sql id="all">
        id, delete_flag, inserted_at, updated_at, varchar1, varchar2, char1, char2, text1, text2, tinyint1, longtext2,
        longtext1, tinyint2, int1, int2, boolean1, boolean2, datetime1, datetime2, decimal1, decimal2
    </sql>
    <insert id="insert" parameterType="com.spldeolin.beginningmind.entity.Allison1875DemoEntity">
        INSERT INTO allison1875_demo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">id,</if>
            <if test="deleteFlag!=null">delete_flag,</if>
            <if test="insertedAt!=null">inserted_at,</if>
            <if test="updatedAt!=null">updated_at,</if>
            <if test="varchar1!=null">varchar1,</if>
            <if test="varchar2!=null">varchar2,</if>
            <if test="char1!=null">char1,</if>
            <if test="char2!=null">char2,</if>
            <if test="text1!=null">text1,</if>
            <if test="text2!=null">text2,</if>
            <if test="tinyint1!=null">tinyint1,</if>
            <if test="longtext2!=null">longtext2,</if>
            <if test="longtext1!=null">longtext1,</if>
            <if test="tinyint2!=null">tinyint2,</if>
            <if test="int1!=null">int1,</if>
            <if test="int2!=null">int2,</if>
            <if test="boolean1!=null">boolean1,</if>
            <if test="boolean2!=null">boolean2,</if>
            <if test="datetime1!=null">datetime1,</if>
            <if test="datetime2!=null">datetime2,</if>
            <if test="decimal1!=null">decimal1,</if>
            <if test="decimal2!=null">decimal2,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="deleteFlag!=null">#{deleteFlag},</if>
            <if test="insertedAt!=null">#{insertedAt},</if>
            <if test="updatedAt!=null">#{updatedAt},</if>
            <if test="varchar1!=null">#{varchar1},</if>
            <if test="varchar2!=null">#{varchar2},</if>
            <if test="char1!=null">#{char1},</if>
            <if test="char2!=null">#{char2},</if>
            <if test="text1!=null">#{text1},</if>
            <if test="text2!=null">#{text2},</if>
            <if test="tinyint1!=null">#{tinyint1},</if>
            <if test="longtext2!=null">#{longtext2},</if>
            <if test="longtext1!=null">#{longtext1},</if>
            <if test="tinyint2!=null">#{tinyint2},</if>
            <if test="int1!=null">#{int1},</if>
            <if test="int2!=null">#{int2},</if>
            <if test="boolean1!=null">#{boolean1},</if>
            <if test="boolean2!=null">#{boolean2},</if>
            <if test="datetime1!=null">#{datetime1},</if>
            <if test="datetime2!=null">#{datetime2},</if>
            <if test="decimal1!=null">#{decimal1},</if>
            <if test="decimal2!=null">#{decimal2},</if>
        </trim>
    </insert>
    <insert id="batchInsertEvenNull">
        INSERT INTO allison1875_demo
        (<include refid="all"/>)
        VALUES
        <foreach collection="entities" item="one" separator=",">
            (
            #{one.id},
            #{one.deleteFlag},
            #{one.insertedAt},
            #{one.updatedAt},
            #{one.varchar1},
            #{one.varchar2},
            #{one.char1},
            #{one.char2},
            #{one.text1},
            #{one.text2},
            #{one.tinyint1},
            #{one.longtext2},
            #{one.longtext1},
            #{one.tinyint2},
            #{one.int1},
            #{one.int2},
            #{one.boolean1},
            #{one.boolean2},
            #{one.datetime1},
            #{one.datetime2},
            #{one.decimal1},
            #{one.decimal2}
            )
        </foreach>
    </insert>
    <select id="queryById" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM allison1875_demo
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </select>
    <update id="updateById" parameterType="com.spldeolin.beginningmind.entity.Allison1875DemoEntity">
        UPDATE allison1875_demo
        <set>
            <if test="deleteFlag!=null">delete_flag = #{deleteFlag},</if>
            <if test="insertedAt!=null">inserted_at = #{insertedAt},</if>
            <if test="updatedAt!=null">updated_at = #{updatedAt},</if>
            <if test="varchar1!=null">varchar1 = #{varchar1},</if>
            <if test="varchar2!=null">varchar2 = #{varchar2},</if>
            <if test="char1!=null">char1 = #{char1},</if>
            <if test="char2!=null">char2 = #{char2},</if>
            <if test="text1!=null">text1 = #{text1},</if>
            <if test="text2!=null">text2 = #{text2},</if>
            <if test="tinyint1!=null">tinyint1 = #{tinyint1},</if>
            <if test="longtext2!=null">longtext2 = #{longtext2},</if>
            <if test="longtext1!=null">longtext1 = #{longtext1},</if>
            <if test="tinyint2!=null">tinyint2 = #{tinyint2},</if>
            <if test="int1!=null">int1 = #{int1},</if>
            <if test="int2!=null">int2 = #{int2},</if>
            <if test="boolean1!=null">boolean1 = #{boolean1},</if>
            <if test="boolean2!=null">boolean2 = #{boolean2},</if>
            <if test="datetime1!=null">datetime1 = #{datetime1},</if>
            <if test="datetime2!=null">datetime2 = #{datetime2},</if>
            <if test="decimal1!=null">decimal1 = #{decimal1},</if>
            <if test="decimal2!=null">decimal2 = #{decimal2},</if>
        </set>
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </update>
    <update id="updateByIdEvenNull" parameterType="com.spldeolin.beginningmind.entity.Allison1875DemoEntity">
        UPDATE allison1875_demo
        SET
        delete_flag = #{deleteFlag},
        inserted_at = #{insertedAt},
        updated_at = #{updatedAt},
        varchar1 = #{varchar1},
        varchar2 = #{varchar2},
        char1 = #{char1},
        char2 = #{char2},
        text1 = #{text1},
        text2 = #{text2},
        tinyint1 = #{tinyint1},
        longtext2 = #{longtext2},
        longtext1 = #{longtext1},
        tinyint2 = #{tinyint2},
        int1 = #{int1},
        int2 = #{int2},
        boolean1 = #{boolean1},
        boolean2 = #{boolean2},
        datetime1 = #{datetime1},
        datetime2 = #{datetime2},
        decimal1 = #{decimal1},
        decimal2 = #{decimal2}
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </update>
    <select id="queryByIds" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM allison1875_demo
        WHERE
        delete_flag = FALSE
        AND id IN (
        <foreach collection="ids" item="one" separator=",">#{one}</foreach>)
    </select>
    <select id="queryByIdsEachId" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM allison1875_demo
        WHERE
        delete_flag = FALSE
        AND id IN (
        <foreach collection="ids" item="one" separator=",">#{one}</foreach>)
    </select>
    <select id="queryByEntity" parameterType="com.spldeolin.beginningmind.entity.Allison1875DemoEntity" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM allison1875_demo
        WHERE TRUE
        AND delete_flag = FALSE
        <if test="id!=null">AND id = #{id}</if>
        <if test="deleteFlag!=null">AND delete_flag = #{deleteFlag}</if>
        <if test="insertedAt!=null">AND inserted_at = #{insertedAt}</if>
        <if test="updatedAt!=null">AND updated_at = #{updatedAt}</if>
        <if test="varchar1!=null">AND varchar1 = #{varchar1}</if>
        <if test="varchar2!=null">AND varchar2 = #{varchar2}</if>
        <if test="char1!=null">AND char1 = #{char1}</if>
        <if test="char2!=null">AND char2 = #{char2}</if>
        <if test="text1!=null">AND text1 = #{text1}</if>
        <if test="text2!=null">AND text2 = #{text2}</if>
        <if test="tinyint1!=null">AND tinyint1 = #{tinyint1}</if>
        <if test="longtext2!=null">AND longtext2 = #{longtext2}</if>
        <if test="longtext1!=null">AND longtext1 = #{longtext1}</if>
        <if test="tinyint2!=null">AND tinyint2 = #{tinyint2}</if>
        <if test="int1!=null">AND int1 = #{int1}</if>
        <if test="int2!=null">AND int2 = #{int2}</if>
        <if test="boolean1!=null">AND boolean1 = #{boolean1}</if>
        <if test="boolean2!=null">AND boolean2 = #{boolean2}</if>
        <if test="datetime1!=null">AND datetime1 = #{datetime1}</if>
        <if test="datetime2!=null">AND datetime2 = #{datetime2}</if>
        <if test="decimal1!=null">AND decimal1 = #{decimal1}</if>
        <if test="decimal2!=null">AND decimal2 = #{decimal2}</if>
    </select>
    <!-- 从锚点<SGODWT>到本行之间的内容，由Allison 1875生成，请勿人为修改 <MTg1WB> -->
</mapper>
