<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spldeolin.beginningmind.mapper.PermissionMapper">
    <!-- <JCzc23> 从本行到锚点<2N7WF1>之间的内容，由Allison 1875生成，请勿人为修改 -->
    <resultMap id="all" type="com.spldeolin.beginningmind.entity.PermissionEntity">
        <id column="id" property="id"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="inserted_at" property="insertedAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="mapping_method" property="mappingMethod"/>
        <result column="mapping_path" property="mappingPath"/>
        <result column="display" property="display"/>
        <result column="is_granted_for_all" property="isGrantedForAll"/>
        <result column="is_forbidden" property="isForbidden"/>
    </resultMap>
    <sql id="all">
        id, delete_flag, inserted_at, updated_at, mapping_method, mapping_path, display, is_granted_for_all,
        is_forbidden
    </sql>
    <insert id="insert" parameterType="com.spldeolin.beginningmind.entity.PermissionEntity">
        INSERT INTO permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">id,</if>
            <if test="deleteFlag!=null">delete_flag,</if>
            <if test="insertedAt!=null">inserted_at,</if>
            <if test="updatedAt!=null">updated_at,</if>
            <if test="mappingMethod!=null">mapping_method,</if>
            <if test="mappingPath!=null">mapping_path,</if>
            <if test="display!=null">display,</if>
            <if test="isGrantedForAll!=null">is_granted_for_all,</if>
            <if test="isForbidden!=null">is_forbidden,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="deleteFlag!=null">#{deleteFlag},</if>
            <if test="insertedAt!=null">#{insertedAt},</if>
            <if test="updatedAt!=null">#{updatedAt},</if>
            <if test="mappingMethod!=null">#{mappingMethod},</if>
            <if test="mappingPath!=null">#{mappingPath},</if>
            <if test="display!=null">#{display},</if>
            <if test="isGrantedForAll!=null">#{isGrantedForAll},</if>
            <if test="isForbidden!=null">#{isForbidden},</if>
        </trim>
    </insert>
    <insert id="batchInsertEvenNull">
        INSERT INTO permission
        (<include refid="all"/>)
        VALUES
        <foreach collection="entities" item="one" separator=",">
            (
            #{one.id},
            #{one.deleteFlag},
            #{one.insertedAt},
            #{one.updatedAt},
            #{one.mappingMethod},
            #{one.mappingPath},
            #{one.display},
            #{one.isGrantedForAll},
            #{one.isForbidden}
            )
        </foreach>
    </insert>
    <select id="queryById" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM permission
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </select>
    <update id="updateById" parameterType="com.spldeolin.beginningmind.entity.PermissionEntity">
        UPDATE permission
        <set>
            <if test="deleteFlag!=null">delete_flag = #{deleteFlag},</if>
            <if test="insertedAt!=null">inserted_at = #{insertedAt},</if>
            <if test="updatedAt!=null">updated_at = #{updatedAt},</if>
            <if test="mappingMethod!=null">mapping_method = #{mappingMethod},</if>
            <if test="mappingPath!=null">mapping_path = #{mappingPath},</if>
            <if test="display!=null">display = #{display},</if>
            <if test="isGrantedForAll!=null">is_granted_for_all = #{isGrantedForAll},</if>
            <if test="isForbidden!=null">is_forbidden = #{isForbidden},</if>
        </set>
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </update>
    <update id="updateByIdEvenNull" parameterType="com.spldeolin.beginningmind.entity.PermissionEntity">
        UPDATE permission
        SET
        delete_flag = #{deleteFlag},
        inserted_at = #{insertedAt},
        updated_at = #{updatedAt},
        mapping_method = #{mappingMethod},
        mapping_path = #{mappingPath},
        display = #{display},
        is_granted_for_all = #{isGrantedForAll},
        is_forbidden = #{isForbidden}
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </update>
    <select id="queryByIds" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM permission
        WHERE
        delete_flag = FALSE
        AND id IN (
        <foreach collection="ids" item="one" separator=",">#{one}</foreach>)
    </select>
    <select id="queryByIdsEachId" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM permission
        WHERE
        delete_flag = FALSE
        AND id IN (
        <foreach collection="ids" item="one" separator=",">#{one}</foreach>)
    </select>
    <select id="queryByEntity" parameterType="com.spldeolin.beginningmind.entity.PermissionEntity" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM permission
        WHERE TRUE
        AND delete_flag = FALSE
        <if test="id!=null">AND id = #{id}</if>
        <if test="deleteFlag!=null">AND delete_flag = #{deleteFlag}</if>
        <if test="insertedAt!=null">AND inserted_at = #{insertedAt}</if>
        <if test="updatedAt!=null">AND updated_at = #{updatedAt}</if>
        <if test="mappingMethod!=null">AND mapping_method = #{mappingMethod}</if>
        <if test="mappingPath!=null">AND mapping_path = #{mappingPath}</if>
        <if test="display!=null">AND display = #{display}</if>
        <if test="isGrantedForAll!=null">AND is_granted_for_all = #{isGrantedForAll}</if>
        <if test="isForbidden!=null">AND is_forbidden = #{isForbidden}</if>
    </select>
    <!-- 从锚点<JCzc23>到本行之间的内容，由Allison 1875生成，请勿人为修改 <2N7WF1> -->

    <update id="deleteBatchIds">
        UPDATE permission
        SET delete_flag = TRUE
        WHERE
        id IN (<foreach collection="ids" item="one" separator=",">#{one}</foreach>)
    </update>

</mapper>
