<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spldeolin.beginningmind.mapper.TemplateMapper">
    <!-- <GwwZFD> 从本行到锚点<XPqMgd>之间的内容，由Allison 1875生成，请勿人为修改 -->
    <resultMap id="all" type="com.spldeolin.beginningmind.entity.TemplateEntity">
        <id column="id" property="id"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="inserted_at" property="insertedAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>
    <sql id="all">
        id, delete_flag, inserted_at, updated_at
    </sql>
    <insert id="insert" parameterType="com.spldeolin.beginningmind.entity.TemplateEntity">
        INSERT INTO __template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null">id,</if>
            <if test="deleteFlag!=null">delete_flag,</if>
            <if test="insertedAt!=null">inserted_at,</if>
            <if test="updatedAt!=null">updated_at,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id!=null">#{id},</if>
            <if test="deleteFlag!=null">#{deleteFlag},</if>
            <if test="insertedAt!=null">#{insertedAt},</if>
            <if test="updatedAt!=null">#{updatedAt},</if>
        </trim>
    </insert>
    <insert id="batchInsertEvenNull">
        INSERT INTO __template
        (<include refid="all"/>)
        VALUES
        <foreach collection="entities" item="one" separator=",">
            (
            #{one.id},
            #{one.deleteFlag},
            #{one.insertedAt},
            #{one.updatedAt}
            )
        </foreach>
    </insert>
    <select id="queryById" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM __template
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </select>
    <update id="updateById" parameterType="com.spldeolin.beginningmind.entity.TemplateEntity">
        UPDATE __template
        <set>
            <if test="deleteFlag!=null">delete_flag = #{deleteFlag},</if>
            <if test="insertedAt!=null">inserted_at = #{insertedAt},</if>
            <if test="updatedAt!=null">updated_at = #{updatedAt},</if>
        </set>
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </update>
    <update id="updateByIdEvenNull" parameterType="com.spldeolin.beginningmind.entity.TemplateEntity">
        UPDATE __template
        SET
        delete_flag = #{deleteFlag},
        inserted_at = #{insertedAt},
        updated_at = #{updatedAt}
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </update>
    <select id="queryByIds" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM __template
        WHERE
        delete_flag = FALSE
        AND id IN (
        <foreach collection="ids" item="one" separator=",">#{one}</foreach>)
    </select>
    <select id="queryByIdsEachId" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM __template
        WHERE
        delete_flag = FALSE
        AND id IN (
        <foreach collection="ids" item="one" separator=",">#{one}</foreach>)
    </select>
    <select id="queryByEntity" parameterType="com.spldeolin.beginningmind.entity.TemplateEntity" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM __template
        WHERE TRUE
        AND delete_flag = FALSE
        <if test="id!=null">AND id = #{id}</if>
        <if test="deleteFlag!=null">AND delete_flag = #{deleteFlag}</if>
        <if test="insertedAt!=null">AND inserted_at = #{insertedAt}</if>
        <if test="updatedAt!=null">AND updated_at = #{updatedAt}</if>
    </select>
    <!-- 从锚点<GwwZFD>到本行之间的内容，由Allison 1875生成，请勿人为修改 <XPqMgd> -->
</mapper>
