<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spldeolin.beginningmind.mapper.User2permissionMapper">
    <select id="listPermissionsByUsers" resultType="java.lang.Long">
        SELECT
        permission_id
        FROM
        user2permission
        WHERE
        delete_flag = FALSE
        AND user_id = #{userId}
    </select>
    <!-- <X944UN> 从本行到锚点<IrpEV5>之间的内容，由Allison 1875生成，请勿人为修改 -->
    <resultMap id="all" type="com.spldeolin.beginningmind.entity.User2permissionEntity">
        <id column="id" property="id"/>
        <result column="delete_flag" property="deleteFlag"/>
        <result column="inserted_at" property="insertedAt"/>
        <result column="updated_at" property="updatedAt"/>
        <result column="user_id" property="userId"/>
        <result column="permission_id" property="permissionId"/>
    </resultMap>
    <sql id="all">
        id, delete_flag, inserted_at, updated_at, user_id, permission_id
    </sql>
    <insert id="insert" parameterType="com.spldeolin.beginningmind.entity.User2permissionEntity">
        <!-- @formatter:off -->
        INSERT INTO user2permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!=null"> id, </if>
            <if test="deleteFlag!=null"> delete_flag, </if>
            <if test="insertedAt!=null"> inserted_at, </if>
            <if test="updatedAt!=null"> updated_at, </if>
            <if test="userId!=null"> user_id, </if>
            <if test="permissionId!=null"> permission_id, </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="id!=null"> #{id}, </if>
            <if test="deleteFlag!=null"> #{deleteFlag}, </if>
            <if test="insertedAt!=null"> #{insertedAt}, </if>
            <if test="updatedAt!=null"> #{updatedAt}, </if>
            <if test="userId!=null"> #{userId}, </if>
            <if test="permissionId!=null"> #{permissionId}, </if>
        </trim>
        <!-- @formatter:on -->
    </insert>
    <insert id="batchInsertEvenNull">
        <!-- @formatter:off -->
        INSERT INTO user2permission
            ( <include refid="all"/> )
        VALUES
            <foreach collection="entities" item="one" separator=",">
                <!-- @formatter:on -->
                ( #{one.id}, #{one.deleteFlag}, #{one.insertedAt}, #{one.updatedAt}, #{one.userId}, #{one.permissionId}
                )
            </foreach>
    </insert>
    <select id="queryById" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM user2permission
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </select>
    <update id="updateById" parameterType="com.spldeolin.beginningmind.entity.User2permissionEntity">
        UPDATE user2permission
        <set>
            <if test="deleteFlag!=null">delete_flag = #{deleteFlag},</if>
            <if test="insertedAt!=null">inserted_at = #{insertedAt},</if>
            <if test="updatedAt!=null">updated_at = #{updatedAt},</if>
            <if test="userId!=null">user_id = #{userId},</if>
            <if test="permissionId!=null">permission_id = #{permissionId},</if>
        </set>
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </update>
    <update id="updateByIdEvenNull" parameterType="com.spldeolin.beginningmind.entity.User2permissionEntity">
        UPDATE user2permission
        SET
        delete_flag = #{deleteFlag},
        inserted_at = #{insertedAt},
        updated_at = #{updatedAt},
        user_id = #{userId},
        permission_id = #{permissionId}
        WHERE
        delete_flag = FALSE
        AND id = #{id}
    </update>
    <select id="queryByIds" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM user2permission
        WHERE
        delete_flag = FALSE
        AND id IN (
        <foreach collection="ids" item="one" separator=",">#{one}</foreach>)
    </select>
    <select id="queryByIdsEachId" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM user2permission
        WHERE
        delete_flag = FALSE
        AND id IN (
        <foreach collection="ids" item="one" separator=",">#{one}</foreach>)
    </select>
    <select id="queryByUserId" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM user2permission
        WHERE
        delete_flag = FALSE
        AND user_id = #{userId}
    </select>
    <select id="queryByPermissionId" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM user2permission
        WHERE
        delete_flag = FALSE
        AND permission_id = #{permissionId}
    </select>
    <update id="deleteByUserId" parameterType="Long">
        <!-- @formatter:off -->
        UPDATE user2permission
        SET delete_flag = TRUE
        WHERE user_id = #{userId}
        <!-- @formatter:on -->
    </update>
    <update id="deleteByPermissionId" parameterType="Long">
        <!-- @formatter:off -->
        UPDATE user2permission
        SET delete_flag = TRUE
        WHERE permission_id = #{permissionId}
        <!-- @formatter:on -->
    </update>
    <select id="queryByUserIds" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM user2permission
        WHERE
        delete_flag = FALSE
        AND user_id IN (
        <foreach collection="userIds" item="one" separator=",">#{one}</foreach>)
    </select>
    <select id="queryByPermissionIds" parameterType="Long" resultMap="all">
        SELECT
        <include refid="all"/>
        FROM user2permission
        WHERE
        delete_flag = FALSE
        AND permission_id IN (
        <foreach collection="permissionIds" item="one" separator=",">#{one}</foreach>)
    </select>
    <select id="queryByEntity" parameterType="com.spldeolin.beginningmind.entity.User2permissionEntity" resultMap="all">
        <!-- @formatter:off -->
        SELECT
            <include refid="all"/>
        FROM user2permission
        WHERE TRUE
            AND delete_flag = FALSE
            <if test="id!=null"> AND id = #{id} </if>
            <if test="deleteFlag!=null"> AND delete_flag = #{deleteFlag} </if>
            <if test="insertedAt!=null"> AND inserted_at = #{insertedAt} </if>
            <if test="updatedAt!=null"> AND updated_at = #{updatedAt} </if>
            <if test="userId!=null"> AND user_id = #{userId} </if>
            <if test="permissionId!=null"> AND permission_id = #{permissionId} </if>
        <!-- @formatter:on -->
    </select>
    <!-- 从锚点<X944UN>到本行之间的内容，由Allison 1875生成，请勿人为修改 <IrpEV5> -->
    <select id='aaa' resultMap='all'>
        SELECT
        <include refid='all'/>
        FROM
        user2permission
        WHERE TRUE
        <if test="ids!=null">
            <if test="ids.size() > 0">
                AND id IN (<foreach collection='ids' item='one' separator=','>#{one}</foreach>)
            </if>
            <if test="ids.size() == 0">
                AND FALSE
            </if>
        </if>
        <if test="userIds!=null">
            <if test="userIds.size() > 0 and">
                AND user_id NOT IN (<foreach collection='userIds' item='one' separator=','>#{one}</foreach>)
            </if>
            <if test="userIds.size() == 0">
                AND TRUE
            </if>
        </if>
    </select>
    <select id='aaa1' resultMap='all'>
        SELECT
        <include refid='all'/>
        FROM
        user2permission
        WHERE TRUE
        <if test="ids!=null">
            <if test="ids.size() > 0">
                AND id IN (<foreach collection='ids' item='one' separator=','>#{one}</foreach>)
            </if>
            <if test="ids.size() == 0">
                AND FALSE
            </if>
        </if>
        <if test="userIds!=null and userIds.size() > 0">
            AND user_id NOT IN (<foreach collection='userIds' item='one' separator=','>#{one}</foreach>)
        </if>
    </select>
    <select id='aaa2' resultMap='all'>
        <!-- @formatter:off -->
        SELECT
            <include refid='all' />
        FROM
            user2permission
        WHERE TRUE
        <if test="ids!=null">
            <if test="ids.size() > 0">
                AND id IN (<foreach collection='ids' item='one' separator=','>#{one}</foreach>)
            </if>
            <if test="ids.size() == 0">
                AND FALSE
            </if>
        </if>
        <if test="userIds!=null and userIds.size() > 0">
            AND user_id NOT IN (<foreach collection='userIds' item='one' separator=','>#{one}</foreach>)
        </if>
        <!-- @formatter:on -->
    </select>
    <select id='aaa3' resultMap='all'>
        @formatter:off
        SELECT
            <include refid='all' />
        FROM
            user2permission
        WHERE TRUE
        <if test="ids!=null">
            <if test="ids.size() > 0">
                AND id IN (<foreach collection='ids' item='one' separator=','>#{one}</foreach>)
            </if>
            <if test="ids.size() == 0">
                AND FALSE
            </if>
        </if>
        <if test="userIds!=null and userIds.size() > 0">
            AND user_id NOT IN (<foreach collection='userIds' item='one' separator=','>#{one}</foreach>)
        </if>
    @formatter:on
    </select>
</mapper>
