<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spldeolin.beginningmind.mapper.UserMapper">

    <select id="listAsPageByMobile" resultType="com.spldeolin.beginningmind.entity.UserEntity">
        select * from user where is_deleted = false and mobile = #{mobile}
    </select>

    <select id="getByNameOrMobileOrEmail" resultType="com.spldeolin.beginningmind.entity.UserEntity">
        SELECT *
        FROM user
        WHERE
              is_deleted = FALSE
          AND (
                      name = #{nameOrMobileOrEmail}
                      OR mobile = #{nameOrMobileOrEmail}
                      OR email = #{nameOrMobileOrEmail}
                  )
    </select>

    <select id="getIdByName" resultType="java.lang.Long">
        SELECT id
        FROM user
        WHERE
              is_deleted = FALSE
          AND name = #{name}
    </select>

    <select id="getIdByEmail" resultType="java.lang.Long">
        SELECT id
        FROM user
        WHERE
              is_deleted = FALSE
          AND email = #{email}
    </select>

    <select id="getIdByMobile" resultType="java.lang.Long">
        SELECT id
        FROM user
        WHERE
              is_deleted = FALSE
          AND mobile = #{mobile}
    </select>

</mapper>